*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  width: 100%;
  height: 75px;
  padding: 0px 100px;
  line-height: 75px;
  position: fixed;
  background-color:rgb(244,245,249);

}
nav ul{
  float: right;
}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color:rgb(141,189,194);
  text-decoration: none;
}
nav li a:hover{
  color: gold;
}
.sr{
  border: solid 1px;
  border-color: rgb(57,189,188);
background-color: rgb(57,189,188);
}
.rar2{
  margin-top: 250px;
}
div .what{
  margin-top: 20px;
  color: black;
}
.yam{
  float: left;
}
.yam2{
  text-align: center;
  margin-top: 150px;
  font-weight: 400;
  font-size: 40px;
  color:  rgb(58,184,183);
}
p{
  text-align: center;
  font-weight: 400;
  color: rgb(178,151,178);
}
.button{
  padding: 12px 28px;  
    background-color:rgb(232,199,0) ;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 310px;
    font-weight: 300;
  }
  .button:hover{
    transform: skew(1.5s);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
    box-shadow: inset;
    box-decoration-break: unset;
  }
  ul{
    text-align: center;
  }
  .media{
    align-items: center;
    transform: translate(-53% -50%);
  }
  li{
    list-style: none;
    margin: 1px 1px;
    display: inline-block;
    font-size: 2px;
    padding: 5px 5px;
    color: #fff;
    text-align: center;

  }
  h3{
    text-align: center;
    color: rgb(58,184,183);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    font-size: 18px;
  }
  .mry{
    color: rgb(57, 188, 189);
    font-size: 18px;
  }
  .mry2{
    color: rgb(247, 186, 3);
  }
  h4{
    color: rgb(57, 188, 189);
    font-size: 25px;
    font-weight: 400;
  }
  .wrapper{
    /* background-color: rgb(27, 116, 96); */
    margin-top: 0px;
  }    
  .agency{
    color: rgb(136,138,136); 
    font-size: 20px;
    font-weight: 300;
  }
.bheem{
  margin: 150px;
}
